In [33]:
def square(num):
    return num**2
print(square(5))
#print(type(a))

25

In [7]:
def a_display(string):
    return len(string)

print("length of string is",a_display("dyal"))

length of string is 4

In [11]:
# pass by reference example

def square(item_list):
    
    squares = []
    
    for i in item_list:
        squares.append(i**2)
        
    return squares

passing_list = [3,4,5,6]
display_result = square(passing_list)
print('Squares of the numbers in the list are:',passing_list)

Squares of the numbers in the list are: [3, 4, 5, 6]

### Function arguments
    Default arguments
    keyword arguments
    required arguments
    variable-length arguments

In [19]:
# Default arguments

def d_function(num1,num2=80):
    
#     print(num1)
#     print(num2)
    return num1,num2
    
print("function with one parameter:",d_function(50))
print("function with two parameter:",d_function(40,60))

function with one parameter: (50, 80)
function with two parameter: (40, 60)

In [22]:
# keyword arguments

def k_func(num1,num2):
    print(num1,num2)
    
# when no keyword arg passed
k_func(40,60)    #here by default num1=40 and num2=60

# when keyword arg passed
k_func(num2=40,num1=60)    #but with keyword num1=60 and num2=40 as defined

40 60
60 40

In [27]:
# Required arguments

def r_func(num1,num2):
    
    print("out of order arguments")
    print(num1,num2)
    
r_func(70,80)

print("when passing only one argument")
try:
    r_func(40)   #if two args were given it will print passed vaules otherwise print below except statement
except:
    print("require 2 positional args whereas 1 is given")

out of order arguments
70 80
when passing only one argument
require 2 positional args whereas 1 is given

In [23]:
# Variable length arguments ("args" and "kwargs" refer to arguments not based on keywords.)

# definging a function to make list items in upper case

def case_upper(*list_args):
    
    empty_list = []
    
    for i in list_args:
        empty_list.append(i.upper())
        
    return empty_list 

obj = case_upper('pthon','citu','andy','tplu','tutu')

print(obj)

['PTHON', 'CITU', 'ANDY', 'TPLU', 'TUTU']

In [54]:
# Example *args

def add_nums(*args):
    add = 0
    for i in args:
        add = add + i
    return add

add_nums(89,4,76,3,2,89)

263

In [46]:
# Example *args

def squares(*num):
    l = []
    for i in num:
        l.append(i**2)
    return l

squares(2,3,13,4)

[4, 9, 169, 16]

In [52]:
# Example *args

def product(*args):
    p = 1
    
    for i in args:
        p = p*i
    return p
    
product(8,9,7,6)

3024

In [2]:
# # Example **kwargs

def input_values(**kwargs):
    
    ans = []
    
    for key,value in kwargs.items():
        
        ans.append([key, value])
        
    return ans

# passing kwargs arguments

object = input_values(First = 'Python', Second = 'Functions', Third = 'Tutorials')

print(object)

[['First', 'Python'], ['Second', 'Functions'], ['Third', 'Tutorials']]

### return statement: When a defined function is called, a return statement is written to exit the function and return the calculated value.

In [3]:
# Defining a function with return statement

def square(num):
    return num**2

# Calling function and passing arguments
print("With return statement")
print(square(52))

# Defining a function without return statement

def square(num):
    num**2
    
# Calling function and passing arguments

print("Without return statement")
print(square(52))

With return statement
2704
Without return statement
None

In [10]:
def sub():
    x=10
    y=5
    c = x-y
    return c
def mul():
    x=2
    y=4
    c=x*y
    return c
def main():
    print("subtraction:",sub())
    print("multiplication",mul())
    
if __name__ == '__main__':
    main()

subtraction: 5
multiplication 8

In [5]:
import sys

class credentials:
    def __init__(self, name, age, salary, eid, qualification, address):
        self.name = name
        self.age = age
        self.salary = salary
        self.eid = eid
        self.qualification = qualification
        self.address = address

    def show_details(self):

        print("employee's name is:", self.name)
        print("employee's age is:", self.age)
        print("employee's salary:", self.salary)
        print("employee's id: ", self.eid)
        print("employee's qualification:", self.qualification)
        print("employee's addresss:", self.address)

    def remove(self):

        del self.name

        del self.age

        del self.salary

        del self.id

        del self.qualification

        del self.address

In [3]:
def get_data():
    name = input("enter the name:")
    age = input("enter the age: ")
    salary = float(input("enter the salary "))
    id= input("enter the id: ")
    qualification = input("enter your qualification: ")
    address = input("enter the address: ")

emp1 = get_data()



while(True):
    print("for remove the data dor -D\n for exit the data press Eor en for adding the data a or A")
    option = input('enter the option:')

    if option.lower() == 'd':
        emp1.remove()
        print("your data is deleted successfully")

    elif option.lower() == 'e':

        print("Thanks for entering the data :")
        sys.exit()

    elif option.lower() == 'a':
        emp1.get_data()

    else:
        emp1.details()

enter the name:d
enter the age: 3
enter the salary 4
enter the id: 5
enter your qualification: fd
enter the address: d
for remove the data dor -D
 for exit the data press Eor en for adding the data a or A
enter the option:e
Thanks for entering the data :

NameError: name 'sys' is not defined